@import url('meatSelector.css');
@import url('food.css');
@import url('tabs.css');

:root {
    /* Colors Warm*/
    --darker-red: rgb(109, 6, 0); 
    --red: rgb(199, 12, 0);
    --light-red: rgb(255,100,100);
    --orange-red: rgb(255, 34, 0);
    --beige: rgb(255, 218, 185);
    --grey: rgb(205, 180, 219);
    --black: black;

    /* Colors Cool */
    --darker-blue: rgb(0,33,55);
    --dark-blue: rgb(11,47,53);
    --blue: rgb(36,149,168);
    --light-blue: rgb(53,217,245);
    --white: rgb(240,240,240);


    --meat-hover: var(--darker-red); 
    --meat-bg: var(--red);
    --border-color: var(--grey);
    --button-color1: var(--light-red);
    --button-color2: var(--orange-red);
    --border-colorX: var(--black);
    --bar-bg: var(--beige);
}

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: black;
}

body {
}
.light {
    background-color:rgb(244, 151, 142);
    --meat-hover: var(--darker-red); 
    --meat-bg: var(--red);
    --border-color: var(--grey);
    --button-color1: var(--light-red);
    --button-color2: var(--orange-red);
    --border-colorX: var(--black);
    --bar-bg: var(--beige);
}

.dark {
    background-color:rgb(0, 21, 35);
    --meat-hover: var(--blue); 
    --meat-bg: var(--dark-blue);
    --border-color: var(--black);
    --button-color1: var(--blue);
    --button-color2: var(--light-blue);
    --border-colorX: var(--white);
    --bar-bg: var(--darker-blue);
}


.bar {
    display: flex;
    top: 0;
    margin: 0 auto;
    position: fixed;
    width: 150rem;
    height: 10rem;
    vertical-align: top;
    background-color: var(--bar-bg);
    border-bottom: solid .5rem var(--border-color);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    vertical-align: top;
}

.tab {
    display: inline-block;
    height: inherit;
    border-right: solid .5rem var(--border-color);
    font-size: 5rem;
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.menu {
    padding: 15rem 0 10rem 0;
    display: block;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5rem;
    width: 100vw;
    vertical-align: top;
}


.theme {
    border: 0;
}
